main {
  padding: 60px 20px;
  text-align: center;

  h1 {
    font-size: 36px;
    color: #205691;
    margin-bottom: 50px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/*  LINHA ENTRE OS CARDS */
.cards > *:not(:last-child) {
  border-right: 1px solid #CBCBCB;
  padding-right: 50px;
  margin-right: 50px;
}

/*  RESPONSIVO */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards > *:not(:last-child) {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }
}
